{% extends 'store/base.html' %}

{% block content %}
<h2 class="mb-4">Welcome to ShopEase</h2>
<div class="row">
    <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h6 class="card-title">Total Revenue</h6>
                <h3>₹{{ revenue }}</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h6 class="card-title">Total Customers</h6>
                <h3>{{ total_customers }}</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-warning mb-3">
            <div class="card-body">
                <h6 class="card-title">Total Products</h6>
                <h3>{{ total_products }}</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-danger mb-3">
            <div class="card-body">
                <h6 class="card-title">Total Orders</h6>
                <h3>{{ total_orders }}</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}